* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

#elect_card_container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 900px;
    justify-content: left;
    margin-bottom: 30px;
}
#selected_card_container, #random_card_container,#permanent_card_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 900px;
}
#selected_card_container {
    margin-bottom: 30px;
}

.card {
    padding: 10px 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.selected {
    background-color: #ffeb3b;
    border-color: #fbc02d;
}
